      <header>
      	<header class="intro-header" style="background-image: url('<%= asset_path('header-bg.jpg') %>')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to openuniv's data</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">More</a>
            </div>
        </div>
    </header>

    

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->

      <div class="row">
       <div class="col-lg-4">
         <%= image_tag "book", class: "img-circle", size: "140x140", alt: "book image" %>
         <h2>BOOK</h2>
         <p></p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <%= image_tag "video", class: "img-circle", size: "140x140", alt: "book image" %>
         <h2>VIDEO</h2>
         <p></p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <%= image_tag "article", class: "img-circle", size: "140x140", alt: "book image" %>
         <h2>ARTICLE</h2>
         <p></p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row --><!-- /.row -->

      <hr>

    </div>





