<!DOCTYPE html>
<html>
<head>
	
<link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">


<link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title>Hh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">H & H</a>
            </div>

            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">book</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">video</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">article</a>
                    </li>
                    <% if user_signed_in? %>
                       <li>
                           <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class:"page-scroll" %>
                       </li>
                   <% else %>
                       <li>
                           <%= link_to "로그인",new_user_session_path, class:"page-scroll" %>
                       </li>
                       <li>
                           <%= link_to "회원가입",new_user_registration_path, class:"page-scroll"%>
                       </li>
                   <% end %>
        		 </ul>
            </div>            
        </div>        
    </nav>

<%= yield %>

<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <strong><p class="center">@made by Hee & Hyeok</p></strong>
</footer>

</body>
</html>
